USE [master]
GO
/****** Object:  Database [QUANLYPHONGKHAM]    Script Date: 11/03/2021 11:43:39 PM ******/
CREATE DATABASE [QUANLYPHONGKHAM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYPHONGKHAM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QUANLYPHONGKHAM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYPHONGKHAM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QUANLYPHONGKHAM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYPHONGKHAM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYPHONGKHAM]
GO
/****** Object:  Table [dbo].[BACSY]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BACSY](
	[MABS] [char](5) NOT NULL,
	[TENBS] [nvarchar](40) NULL,
	[NGAYSINH] [smalldatetime] NULL,
	[GIOITINH] [nvarchar](4) NULL,
	[SDT] [char](10) NULL,
	[MADT] [char](4) NOT NULL,
	[MAKHOA] [char](4) NOT NULL,
	[MAPK] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MABS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BENHNHAN]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENHNHAN](
	[MABN] [char](5) NOT NULL,
	[TENBN] [nvarchar](40) NULL,
	[GIOITINH] [nvarchar](4) NULL,
	[NGAYSINH] [smalldatetime] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [char](10) NULL,
	[NGHENGHIEP] [nvarchar](30) NULL,
	[MADT] [char](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MABN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [char](2) NOT NULL,
	[TENCV] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_CungCapThuoc]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_CungCapThuoc](
	[MATHUOC] [char](5) NOT NULL,
	[MANCC] [char](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHUOC] ASC,
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[MAHD] [char](5) NOT NULL,
	[MATOATHUOC] [char](5) NOT NULL,
	[MAPCLS] [char](7) NOT NULL,
	[MAPHIEUKQ] [char](6) NOT NULL,
	[MAPHIEUKB] [char](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MATOATHUOC] ASC,
	[MAPCLS] ASC,
	[MAPHIEUKQ] ASC,
	[MAPHIEUKB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUNHAPTHUOC]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAPTHUOC](
	[MAPNT] [char](6) NOT NULL,
	[MATHUOC] [char](5) NOT NULL,
	[MANCC] [char](6) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [money] NULL,
	[DONVITINH] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPNT] ASC,
	[MATHUOC] ASC,
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_SDDV]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_SDDV](
	[MAPCLS] [char](7) NOT NULL,
	[MADV] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPCLS] ASC,
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_TOATHUOC]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_TOATHUOC](
	[MATOATHUOC] [char](5) NOT NULL,
	[MAPHIEUKQ] [char](6) NOT NULL,
	[MAPHIEUKB] [char](6) NOT NULL,
	[MATHUOC] [char](5) NOT NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATOATHUOC] ASC,
	[MAPHIEUKQ] ASC,
	[MAPHIEUKB] ASC,
	[MATHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANTOC]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANTOC](
	[MADT] [char](4) NOT NULL,
	[TENDT] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [char](5) NOT NULL,
	[TENDV] [nvarchar](100) NULL,
	[MOTA] [nvarchar](100) NULL,
	[DONVITINH] [nvarchar](10) NULL,
	[GIA] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONTHANHTOAN]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONTHANHTOAN](
	[MAHD] [char](5) NOT NULL,
	[TONGTIEN] [money] NULL,
	[NGAYLAP] [smalldatetime] NULL,
	[MANV] [char](5) NOT NULL,
	[MABN] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOADIEUTRI]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOADIEUTRI](
	[MAKHOA] [char](4) NOT NULL,
	[TENKHOA] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIKHAM]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKHAM](
	[MALOAIK] [char](5) NOT NULL,
	[TEN] [nvarchar](100) NOT NULL,
	[GIA] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAIK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAITHUOC]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITHUOC](
	[MALOAI] [char](5) NOT NULL,
	[TENLOAI] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NCC]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCC](
	[MANCC] [char](6) NOT NULL,
	[TENNCC] [nvarchar](100) NULL,
	[SDT] [char](10) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[EMAIL] [varchar](50) NULL,
	[WEBSITE] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NV]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NV](
	[MANV] [char](5) NOT NULL,
	[TENNV] [nvarchar](40) NULL,
	[GIOITINH] [nvarchar](4) NULL,
	[NAMSINH] [smalldatetime] NULL,
	[SDT] [char](10) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MADT] [char](4) NOT NULL,
	[MACV] [char](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[QUYENTK] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QUYENTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUCANLAMSANG]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUCANLAMSANG](
	[MAPCLS] [char](7) NOT NULL,
	[NGAYLAP] [smalldatetime] NULL,
	[MABN] [char](5) NOT NULL,
	[TONGTIEN] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPCLS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUKETQUA]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUKETQUA](
	[MAPHIEUKQ] [char](6) NOT NULL,
	[NOIDUNG] [nvarchar](100) NULL,
	[MABS] [char](5) NOT NULL,
	[MAPHIEUKB] [char](6) NOT NULL,
	[TienSu] [nvarchar](100) NULL,
	[MACH] [int] NULL,
	[NHIPTHO] [int] NULL,
	[HUYETAP] [int] NULL,
	[NHIETDO] [int] NULL,
	[CANNANG] [int] NULL,
	[CHIEUCAO] [int] NULL,
	[CHUANDOAN] [nvarchar](100) NULL,
	[KETLUAN] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUKQ] ASC,
	[MAPHIEUKB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUKHAMBENH]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUKHAMBENH](
	[MAPHIEUKB] [char](6) NOT NULL,
	[MAPK] [char](5) NOT NULL,
	[MALOAIK] [char](5) NOT NULL,
	[MANV] [char](5) NOT NULL,
	[MABN] [char](5) NOT NULL,
	[NGAYLAP] [smalldatetime] NULL,
	[GHICHU] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUKB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAPTHUOC]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPTHUOC](
	[MAPNT] [char](6) NOT NULL,
	[MANV] [char](5) NOT NULL,
	[NGAYLAP] [smalldatetime] NULL,
	[TONGTIEN] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGKHAM]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGKHAM](
	[MAPK] [char](5) NOT NULL,
	[TENPK] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENTK] [nvarchar](25) NOT NULL,
	[MATKHAUTK] [nvarchar](25) NOT NULL,
	[QUYENTK] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TENTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOANBS]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOANBS](
	[ID_BS] [int] IDENTITY(1,1) NOT NULL,
	[MABS] [char](5) NOT NULL,
	[Password] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BS] ASC,
	[MABS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOANNV]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOANNV](
	[ID_NV] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [char](5) NOT NULL,
	[Password] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_NV] ASC,
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUOC]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUOC](
	[MATHUOC] [char](5) NOT NULL,
	[TEN] [nvarchar](100) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [money] NULL,
	[DONVITINH] [nvarchar](10) NULL,
	[MALOAI] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOATHUOC]    Script Date: 11/03/2021 11:43:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOATHUOC](
	[MATOATHUOC] [char](5) NOT NULL,
	[MAPHIEUKQ] [char](6) NOT NULL,
	[MAPHIEUKB] [char](6) NOT NULL,
	[NGAYLAP] [smalldatetime] NULL,
	[TONGTIEN] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATOATHUOC] ASC,
	[MAPHIEUKQ] ASC,
	[MAPHIEUKB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BACSY] ([MABS], [TENBS], [NGAYSINH], [GIOITINH], [SDT], [MADT], [MAKHOA], [MAPK]) VALUES (N'BS001', N'Đỗ Minh Kha', CAST(N'1995-05-08T00:00:00' AS SmallDateTime), N'Nam', N'0382819372', N'DTMU', N'K006', N'PK001')
INSERT [dbo].[BACSY] ([MABS], [TENBS], [NGAYSINH], [GIOITINH], [SDT], [MADT], [MAKHOA], [MAPK]) VALUES (N'BS002', N'Đào Nguyễn Ngọc Đức', CAST(N'1994-11-01T00:00:00' AS SmallDateTime), N'Nam', N'0382782738', N'DTED', N'K001', N'PK002')
INSERT [dbo].[BACSY] ([MABS], [TENBS], [NGAYSINH], [GIOITINH], [SDT], [MADT], [MAKHOA], [MAPK]) VALUES (N'BS003', N'Nguyễn Bá Huy', CAST(N'1993-04-04T00:00:00' AS SmallDateTime), N'Nam', N'0392617281', N'DTTH', N'K003', N'PK003')
GO
INSERT [dbo].[BENHNHAN] ([MABN], [TENBN], [GIOITINH], [NGAYSINH], [DIACHI], [SDT], [NGHENGHIEP], [MADT]) VALUES (N'BN001', N'Đỗ Anh Tú', N'Nam', CAST(N'2001-01-01T00:00:00' AS SmallDateTime), N'Tiền Giang', N'0372918274', N'Quản lý', N'DTKM')
INSERT [dbo].[BENHNHAN] ([MABN], [TENBN], [GIOITINH], [NGAYSINH], [DIACHI], [SDT], [NGHENGHIEP], [MADT]) VALUES (N'BN002', N'Nguyễn Trần Đẫu', N'Nam', CAST(N'2000-06-14T00:00:00' AS SmallDateTime), N'Đồng Tháp', N'0392718247', N'Ca sỹ', N'DTTA')
INSERT [dbo].[BENHNHAN] ([MABN], [TENBN], [GIOITINH], [NGAYSINH], [DIACHI], [SDT], [NGHENGHIEP], [MADT]) VALUES (N'BN003', N'Lê Minh Thủy', N'Nam', CAST(N'2001-12-01T00:00:00' AS SmallDateTime), N'Kiên Giang', N'0372617263', N'Rapper', N'DTMU')
GO
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'BV', N'Bảo vệ')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'DS', N'Dược sỹ')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV]) VALUES (N'LT', N'Lễ tân')
GO
INSERT [dbo].[CT_CungCapThuoc] ([MATHUOC], [MANCC]) VALUES (N'MT001', N'NCC001')
INSERT [dbo].[CT_CungCapThuoc] ([MATHUOC], [MANCC]) VALUES (N'MT002', N'NCC002')
INSERT [dbo].[CT_CungCapThuoc] ([MATHUOC], [MANCC]) VALUES (N'MT002', N'NCC005')
GO
INSERT [dbo].[CT_HOADON] ([MAHD], [MATOATHUOC], [MAPCLS], [MAPHIEUKQ], [MAPHIEUKB]) VALUES (N'HD005', N'TT001', N'PCLS004', N'PKQ001', N'PKB001')
GO
INSERT [dbo].[CT_PHIEUNHAPTHUOC] ([MAPNT], [MATHUOC], [MANCC], [SOLUONG], [DONGIA], [DONVITINH]) VALUES (N'PNT001', N'MT001', N'NCC001', 200, 650000.0000, N'1 thùng')
INSERT [dbo].[CT_PHIEUNHAPTHUOC] ([MAPNT], [MATHUOC], [MANCC], [SOLUONG], [DONGIA], [DONVITINH]) VALUES (N'PNT002', N'MT005', N'NCC003', 50, 720000.0000, N'1 thùng')
INSERT [dbo].[CT_PHIEUNHAPTHUOC] ([MAPNT], [MATHUOC], [MANCC], [SOLUONG], [DONGIA], [DONVITINH]) VALUES (N'PNT003', N'MT002', N'NCC002', 56, 2000000.0000, N'1 thùng')
GO
INSERT [dbo].[CT_SDDV] ([MAPCLS], [MADV]) VALUES (N'PCLS001', N'DV001')
INSERT [dbo].[CT_SDDV] ([MAPCLS], [MADV]) VALUES (N'PCLS002', N'DV002')
INSERT [dbo].[CT_SDDV] ([MAPCLS], [MADV]) VALUES (N'PCLS003', N'DV003')
GO
INSERT [dbo].[CT_TOATHUOC] ([MATOATHUOC], [MAPHIEUKQ], [MAPHIEUKB], [MATHUOC], [SOLUONG]) VALUES (N'TT001', N'PKQ001', N'PKB001', N'MT004', 20)
GO
INSERT [dbo].[DANTOC] ([MADT], [TENDT]) VALUES (N'DTCH', N'Dân tộc Chăm')
INSERT [dbo].[DANTOC] ([MADT], [TENDT]) VALUES (N'DTED', N'Dân tộc Ê-đê')
INSERT [dbo].[DANTOC] ([MADT], [TENDT]) VALUES (N'DTKI', N'Dân tộc Kinh')
GO
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [MOTA], [DONVITINH], [GIA]) VALUES (N'DV001', N'Chụp X quang', N'chụp x quang', N'1 lần', 100000.0000)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [MOTA], [DONVITINH], [GIA]) VALUES (N'DV002', N'Xét nghiệm máu', N'xét nghiệm máu', N'1 lần', 100000.0000)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [MOTA], [DONVITINH], [GIA]) VALUES (N'DV003', N'Xét nghiệm nước tiểu', N'xét nghiệm nước tiểu', N'1 lần', 100000.0000)
GO
INSERT [dbo].[HOADONTHANHTOAN] ([MAHD], [TONGTIEN], [NGAYLAP], [MANV], [MABN]) VALUES (N'HD001', 340000.0000, CAST(N'2021-11-08T00:00:00' AS SmallDateTime), N'NV002', N'BN001')
INSERT [dbo].[HOADONTHANHTOAN] ([MAHD], [TONGTIEN], [NGAYLAP], [MANV], [MABN]) VALUES (N'HD002', 0.0000, CAST(N'2021-11-03T00:00:00' AS SmallDateTime), N'NV001', N'BN002')
INSERT [dbo].[HOADONTHANHTOAN] ([MAHD], [TONGTIEN], [NGAYLAP], [MANV], [MABN]) VALUES (N'HD003', 0.0000, CAST(N'2021-08-31T00:00:00' AS SmallDateTime), N'NV004', N'BN003')
GO
INSERT [dbo].[KHOADIEUTRI] ([MAKHOA], [TENKHOA]) VALUES (N'K001', N'Khoa tai mũi họng')
INSERT [dbo].[KHOADIEUTRI] ([MAKHOA], [TENKHOA]) VALUES (N'K002', N'Khoa răng hàm mặt')
INSERT [dbo].[KHOADIEUTRI] ([MAKHOA], [TENKHOA]) VALUES (N'K003', N'Khoa truyền nhiễm')
GO
INSERT [dbo].[LOAIKHAM] ([MALOAIK], [TEN], [GIA]) VALUES (N'LK001', N'Khám tổng quát', 200000.0000)
INSERT [dbo].[LOAIKHAM] ([MALOAIK], [TEN], [GIA]) VALUES (N'LK002', N'Khám thai', 250000.0000)
INSERT [dbo].[LOAIKHAM] ([MALOAIK], [TEN], [GIA]) VALUES (N'LK003', N'Khám nha khoa', 100000.0000)
GO
INSERT [dbo].[LOAITHUOC] ([MALOAI], [TENLOAI]) VALUES (N'LT001', N'Thuốc hạ sốt')
INSERT [dbo].[LOAITHUOC] ([MALOAI], [TENLOAI]) VALUES (N'LT002', N'Thuốc giảm đau')
INSERT [dbo].[LOAITHUOC] ([MALOAI], [TENLOAI]) VALUES (N'LT003', N'Vitamin')
GO
INSERT [dbo].[NCC] ([MANCC], [TENNCC], [SDT], [DIACHI], [EMAIL], [WEBSITE]) VALUES (N'NCC001', N'Công Ty Cổ Phần Difoco', N'0372617281', N'289 Đinh Bộ Lĩnh, P. 26, Q. Bình Thạnh, Tp. Hồ Chí Minh', N'info@difoco.com', N'www.difoco.com')
INSERT [dbo].[NCC] ([MANCC], [TENNCC], [SDT], [DIACHI], [EMAIL], [WEBSITE]) VALUES (N'NCC002', N'Công Ty Cổ Phần Dưỡng Dược Vĩnh Kim', N'0919559698', N'186 Định Công Hạ, P. Định Công, Q. Hoàng Mai, Hà Nội', N'kimluan32@gmail.com', N'www.duocvinhkim.com')
INSERT [dbo].[NCC] ([MANCC], [TENNCC], [SDT], [DIACHI], [EMAIL], [WEBSITE]) VALUES (N'NCC003', N'Công Ty TNHH Thảo Dược Đại Thiên Nương', N'0926718362', N'P.104 - B1, TT. Báo Nhân Dân, Số 7 Huỳnh Thúc Kháng, Q. Đống Đa, Hà Nội', N'lanuong@gmail.com', N'www.lanuong.com')
GO
INSERT [dbo].[NV] ([MANV], [TENNV], [GIOITINH], [NAMSINH], [SDT], [DIACHI], [MADT], [MACV]) VALUES (N'NV001', N'Đặng Quốc Thành', N'Nam', CAST(N'1995-02-01T00:00:00' AS SmallDateTime), N'0927263713', N'Tiền Giang', N'DTKM', N'BV')
INSERT [dbo].[NV] ([MANV], [TENNV], [GIOITINH], [NAMSINH], [SDT], [DIACHI], [MADT], [MACV]) VALUES (N'NV002', N'Trần Hoài Linh', N'Nữ', CAST(N'1993-03-21T00:00:00' AS SmallDateTime), N'0392718371', N'Bình Phước', N'DTKM', N'DS')
INSERT [dbo].[NV] ([MANV], [TENNV], [GIOITINH], [NAMSINH], [SDT], [DIACHI], [MADT], [MACV]) VALUES (N'NV003', N'Trần Nguyễn Yến Trang', N'Nữ', CAST(N'1992-11-03T00:00:00' AS SmallDateTime), N'0937826182', N'Bình Định', N'DTTA', N'LT')
GO
INSERT [dbo].[PHANQUYEN] ([QUYENTK]) VALUES (N'Admin')
INSERT [dbo].[PHANQUYEN] ([QUYENTK]) VALUES (N'Bacsy')
INSERT [dbo].[PHANQUYEN] ([QUYENTK]) VALUES (N'Nhanvien')
GO
INSERT [dbo].[PHIEUCANLAMSANG] ([MAPCLS], [NGAYLAP], [MABN], [TONGTIEN]) VALUES (N'PCLS001', CAST(N'2021-03-09T00:00:00' AS SmallDateTime), N'BN001', 0.0000)
INSERT [dbo].[PHIEUCANLAMSANG] ([MAPCLS], [NGAYLAP], [MABN], [TONGTIEN]) VALUES (N'PCLS002', CAST(N'2021-05-17T00:00:00' AS SmallDateTime), N'BN002', 100000.0000)
INSERT [dbo].[PHIEUCANLAMSANG] ([MAPCLS], [NGAYLAP], [MABN], [TONGTIEN]) VALUES (N'PCLS003', CAST(N'2021-08-23T00:00:00' AS SmallDateTime), N'BN003', 0.0000)
GO
INSERT [dbo].[PHIEUKETQUA] ([MAPHIEUKQ], [NOIDUNG], [MABS], [MAPHIEUKB], [TienSu], [MACH], [NHIPTHO], [HUYETAP], [NHIETDO], [CANNANG], [CHIEUCAO], [CHUANDOAN], [KETLUAN]) VALUES (N'PKQ001', N'nội dung', N'BS001', N'PKB001', N'bệnh tim', 100, 90, 80, 38, 67, 167, N'suy tim giai đoạn 1', N'suy tim')
INSERT [dbo].[PHIEUKETQUA] ([MAPHIEUKQ], [NOIDUNG], [MABS], [MAPHIEUKB], [TienSu], [MACH], [NHIPTHO], [HUYETAP], [NHIETDO], [CANNANG], [CHIEUCAO], [CHUANDOAN], [KETLUAN]) VALUES (N'PKQ002', N'nội dung', N'BS002', N'PKB002', N'khó thở', 110, 90, 87, 37, 50, 157, N'viêm phổi', N'viêm phổi')
GO
INSERT [dbo].[PHIEUKHAMBENH] ([MAPHIEUKB], [MAPK], [MALOAIK], [MANV], [MABN], [NGAYLAP], [GHICHU]) VALUES (N'PKB001', N'PK002', N'LK002', N'NV001', N'BN005', CAST(N'2021-07-13T00:00:00' AS SmallDateTime), N'mang thai lần 3')
INSERT [dbo].[PHIEUKHAMBENH] ([MAPHIEUKB], [MAPK], [MALOAIK], [MANV], [MABN], [NGAYLAP], [GHICHU]) VALUES (N'PKB002', N'PK002', N'LK002', N'NV005', N'BN005', CAST(N'2021-05-10T00:00:00' AS SmallDateTime), N'mang thai lần thứ 3')
INSERT [dbo].[PHIEUKHAMBENH] ([MAPHIEUKB], [MAPK], [MALOAIK], [MANV], [MABN], [NGAYLAP], [GHICHU]) VALUES (N'PKB003', N'PK003', N'LK004', N'NV001', N'BN004', CAST(N'2021-02-14T00:00:00' AS SmallDateTime), N'')
GO
INSERT [dbo].[PHIEUNHAPTHUOC] ([MAPNT], [MANV], [NGAYLAP], [TONGTIEN]) VALUES (N'PNT001', N'NV004', CAST(N'2021-03-18T00:00:00' AS SmallDateTime), 130000000.0000)
INSERT [dbo].[PHIEUNHAPTHUOC] ([MAPNT], [MANV], [NGAYLAP], [TONGTIEN]) VALUES (N'PNT002', N'NV004', CAST(N'2021-07-14T00:00:00' AS SmallDateTime), 36000000.0000)
INSERT [dbo].[PHIEUNHAPTHUOC] ([MAPNT], [MANV], [NGAYLAP], [TONGTIEN]) VALUES (N'PNT003', N'NV003', CAST(N'2021-08-17T00:00:00' AS SmallDateTime), 112000000.0000)
GO
INSERT [dbo].[PHONGKHAM] ([MAPK], [TENPK]) VALUES (N'PK001', N'Phòng khám số 1')
INSERT [dbo].[PHONGKHAM] ([MAPK], [TENPK]) VALUES (N'PK002', N'Phòng khám số 2')
INSERT [dbo].[PHONGKHAM] ([MAPK], [TENPK]) VALUES (N'PK003', N'Phòng khám số 3')
GO
INSERT [dbo].[TAIKHOAN] ([TENTK], [MATKHAUTK], [QUYENTK]) VALUES (N'admin', N'123456', N'Admin')
GO
INSERT [dbo].[THUOC] ([MATHUOC], [TEN], [SOLUONG], [DONGIA], [DONVITINH], [MALOAI]) VALUES (N'MT001', N'Panadol Extra', 340, 16000.0000, N'1 vỉ', N'LT002')
INSERT [dbo].[THUOC] ([MATHUOC], [TEN], [SOLUONG], [DONGIA], [DONVITINH], [MALOAI]) VALUES (N'MT002', N'Progestin', 147, 20000.0000, N'1 vỉ', N'LT004')
INSERT [dbo].[THUOC] ([MATHUOC], [TEN], [SOLUONG], [DONGIA], [DONVITINH], [MALOAI]) VALUES (N'MT003', N'Paracetamol', 121, 15000.0000, N'1 vỉ', N'LT001')
GO
INSERT [dbo].[TOATHUOC] ([MATOATHUOC], [MAPHIEUKQ], [MAPHIEUKB], [NGAYLAP], [TONGTIEN]) VALUES (N'TT001', N'PKQ001', N'PKB001', CAST(N'2021-11-03T00:00:00' AS SmallDateTime), 800000.0000)
GO
ALTER TABLE [dbo].[BACSY]  WITH CHECK ADD  CONSTRAINT [FK_BACSY_DANTOC] FOREIGN KEY([MADT])
REFERENCES [dbo].[DANTOC] ([MADT])
GO
ALTER TABLE [dbo].[BACSY] CHECK CONSTRAINT [FK_BACSY_DANTOC]
GO
ALTER TABLE [dbo].[BACSY]  WITH CHECK ADD  CONSTRAINT [FK_BACSY_KHOADIEUTRI] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOADIEUTRI] ([MAKHOA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BACSY] CHECK CONSTRAINT [FK_BACSY_KHOADIEUTRI]
GO
ALTER TABLE [dbo].[BACSY]  WITH CHECK ADD  CONSTRAINT [FK_BACSY_PHONGKHAM] FOREIGN KEY([MAPK])
REFERENCES [dbo].[PHONGKHAM] ([MAPK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BACSY] CHECK CONSTRAINT [FK_BACSY_PHONGKHAM]
GO
ALTER TABLE [dbo].[BENHNHAN]  WITH CHECK ADD  CONSTRAINT [FK_BENHNHAN_DANTOC] FOREIGN KEY([MADT])
REFERENCES [dbo].[DANTOC] ([MADT])
GO
ALTER TABLE [dbo].[BENHNHAN] CHECK CONSTRAINT [FK_BENHNHAN_DANTOC]
GO
ALTER TABLE [dbo].[CT_CungCapThuoc]  WITH CHECK ADD  CONSTRAINT [FK_CT_CungCapThuoc_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NCC] ([MANCC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CT_CungCapThuoc] CHECK CONSTRAINT [FK_CT_CungCapThuoc_NCC]
GO
ALTER TABLE [dbo].[CT_CungCapThuoc]  WITH CHECK ADD  CONSTRAINT [FK_CT_CungCapThuoc_THUOC] FOREIGN KEY([MATHUOC])
REFERENCES [dbo].[THUOC] ([MATHUOC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CT_CungCapThuoc] CHECK CONSTRAINT [FK_CT_CungCapThuoc_THUOC]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HOADONTHANHTOAN] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADONTHANHTOAN] ([MAHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HOADONTHANHTOAN]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_PHIEUCANLAMSANG] FOREIGN KEY([MAPCLS])
REFERENCES [dbo].[PHIEUCANLAMSANG] ([MAPCLS])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_PHIEUCANLAMSANG]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_TOATHUOC] FOREIGN KEY([MATOATHUOC], [MAPHIEUKQ], [MAPHIEUKB])
REFERENCES [dbo].[TOATHUOC] ([MATOATHUOC], [MAPHIEUKQ], [MAPHIEUKB])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_TOATHUOC]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAPTHUOC_CT_CungCapThuoc] FOREIGN KEY([MATHUOC], [MANCC])
REFERENCES [dbo].[CT_CungCapThuoc] ([MATHUOC], [MANCC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPTHUOC] CHECK CONSTRAINT [FK_CT_PHIEUNHAPTHUOC_CT_CungCapThuoc]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAPTHUOC_PHIEUNHAPTHUOC] FOREIGN KEY([MAPNT])
REFERENCES [dbo].[PHIEUNHAPTHUOC] ([MAPNT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPTHUOC] CHECK CONSTRAINT [FK_CT_PHIEUNHAPTHUOC_PHIEUNHAPTHUOC]
GO
ALTER TABLE [dbo].[CT_SDDV]  WITH CHECK ADD  CONSTRAINT [FK_CT_SDDV_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_SDDV] CHECK CONSTRAINT [FK_CT_SDDV_DICHVU]
GO
ALTER TABLE [dbo].[CT_SDDV]  WITH CHECK ADD  CONSTRAINT [FK_CT_SDDV_DICHVU1] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[CT_SDDV] CHECK CONSTRAINT [FK_CT_SDDV_DICHVU1]
GO
ALTER TABLE [dbo].[CT_SDDV]  WITH CHECK ADD  CONSTRAINT [FK_CT_SDDV_PHIEUCANLAMSANG] FOREIGN KEY([MAPCLS])
REFERENCES [dbo].[PHIEUCANLAMSANG] ([MAPCLS])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CT_SDDV] CHECK CONSTRAINT [FK_CT_SDDV_PHIEUCANLAMSANG]
GO
ALTER TABLE [dbo].[CT_SDDV]  WITH CHECK ADD  CONSTRAINT [FK_CT_SDDV_PHIEUCANLAMSANG1] FOREIGN KEY([MAPCLS])
REFERENCES [dbo].[PHIEUCANLAMSANG] ([MAPCLS])
GO
ALTER TABLE [dbo].[CT_SDDV] CHECK CONSTRAINT [FK_CT_SDDV_PHIEUCANLAMSANG1]
GO
ALTER TABLE [dbo].[CT_TOATHUOC]  WITH CHECK ADD  CONSTRAINT [FK_CT_TOATHUOC_THUOC] FOREIGN KEY([MATHUOC])
REFERENCES [dbo].[THUOC] ([MATHUOC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_TOATHUOC] CHECK CONSTRAINT [FK_CT_TOATHUOC_THUOC]
GO
ALTER TABLE [dbo].[CT_TOATHUOC]  WITH CHECK ADD  CONSTRAINT [FK_CT_TOATHUOC_TOATHUOC] FOREIGN KEY([MATOATHUOC], [MAPHIEUKQ], [MAPHIEUKB])
REFERENCES [dbo].[TOATHUOC] ([MATOATHUOC], [MAPHIEUKQ], [MAPHIEUKB])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CT_TOATHUOC] CHECK CONSTRAINT [FK_CT_TOATHUOC_TOATHUOC]
GO
ALTER TABLE [dbo].[HOADONTHANHTOAN]  WITH CHECK ADD  CONSTRAINT [FK_HOADONTHANHTOAN_BENHNHAN] FOREIGN KEY([MABN])
REFERENCES [dbo].[BENHNHAN] ([MABN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOADONTHANHTOAN] CHECK CONSTRAINT [FK_HOADONTHANHTOAN_BENHNHAN]
GO
ALTER TABLE [dbo].[HOADONTHANHTOAN]  WITH CHECK ADD  CONSTRAINT [FK_HOADONTHANHTOAN_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NV] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOADONTHANHTOAN] CHECK CONSTRAINT [FK_HOADONTHANHTOAN_NV]
GO
ALTER TABLE [dbo].[NV]  WITH CHECK ADD  CONSTRAINT [FK_NV_CHUCVU] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NV] CHECK CONSTRAINT [FK_NV_CHUCVU]
GO
ALTER TABLE [dbo].[NV]  WITH CHECK ADD  CONSTRAINT [FK_NV_DANTOC] FOREIGN KEY([MADT])
REFERENCES [dbo].[DANTOC] ([MADT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NV] CHECK CONSTRAINT [FK_NV_DANTOC]
GO
ALTER TABLE [dbo].[PHIEUCANLAMSANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUCANLAMSANG_BENHNHAN] FOREIGN KEY([MABN])
REFERENCES [dbo].[BENHNHAN] ([MABN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUCANLAMSANG] CHECK CONSTRAINT [FK_PHIEUCANLAMSANG_BENHNHAN]
GO
ALTER TABLE [dbo].[PHIEUKETQUA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUKETQUA_BACSY] FOREIGN KEY([MABS])
REFERENCES [dbo].[BACSY] ([MABS])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUKETQUA] CHECK CONSTRAINT [FK_PHIEUKETQUA_BACSY]
GO
ALTER TABLE [dbo].[PHIEUKETQUA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUKETQUA_PHIEUKHAMBENH] FOREIGN KEY([MAPHIEUKB])
REFERENCES [dbo].[PHIEUKHAMBENH] ([MAPHIEUKB])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUKETQUA] CHECK CONSTRAINT [FK_PHIEUKETQUA_PHIEUKHAMBENH]
GO
ALTER TABLE [dbo].[PHIEUKHAMBENH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUKHAMBENH_BENHNHAN] FOREIGN KEY([MABN])
REFERENCES [dbo].[BENHNHAN] ([MABN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUKHAMBENH] CHECK CONSTRAINT [FK_PHIEUKHAMBENH_BENHNHAN]
GO
ALTER TABLE [dbo].[PHIEUKHAMBENH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUKHAMBENH_LOAIKHAM] FOREIGN KEY([MALOAIK])
REFERENCES [dbo].[LOAIKHAM] ([MALOAIK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUKHAMBENH] CHECK CONSTRAINT [FK_PHIEUKHAMBENH_LOAIKHAM]
GO
ALTER TABLE [dbo].[PHIEUKHAMBENH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUKHAMBENH_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NV] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUKHAMBENH] CHECK CONSTRAINT [FK_PHIEUKHAMBENH_NV]
GO
ALTER TABLE [dbo].[PHIEUKHAMBENH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUKHAMBENH_PHONGKHAM] FOREIGN KEY([MAPK])
REFERENCES [dbo].[PHONGKHAM] ([MAPK])
GO
ALTER TABLE [dbo].[PHIEUKHAMBENH] CHECK CONSTRAINT [FK_PHIEUKHAMBENH_PHONGKHAM]
GO
ALTER TABLE [dbo].[PHIEUNHAPTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPTHUOC_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NV] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAPTHUOC] CHECK CONSTRAINT [FK_PHIEUNHAPTHUOC_NV]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([QUYENTK])
REFERENCES [dbo].[PHANQUYEN] ([QUYENTK])
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([QUYENTK])
REFERENCES [dbo].[PHANQUYEN] ([QUYENTK])
GO
ALTER TABLE [dbo].[TAIKHOANBS]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOANBS_BACSY] FOREIGN KEY([MABS])
REFERENCES [dbo].[BACSY] ([MABS])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOANBS] CHECK CONSTRAINT [FK_TAIKHOANBS_BACSY]
GO
ALTER TABLE [dbo].[TAIKHOANNV]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOANNV_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NV] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOANNV] CHECK CONSTRAINT [FK_TAIKHOANNV_NV]
GO
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD  CONSTRAINT [FK_THUOC_LOAITHUOC] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAITHUOC] ([MALOAI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[THUOC] CHECK CONSTRAINT [FK_THUOC_LOAITHUOC]
GO
ALTER TABLE [dbo].[TOATHUOC]  WITH CHECK ADD  CONSTRAINT [FK_TOATHUOC_PHIEUKETQUA] FOREIGN KEY([MAPHIEUKQ], [MAPHIEUKB])
REFERENCES [dbo].[PHIEUKETQUA] ([MAPHIEUKQ], [MAPHIEUKB])
GO
ALTER TABLE [dbo].[TOATHUOC] CHECK CONSTRAINT [FK_TOATHUOC_PHIEUKETQUA]
GO
USE [master]
GO
